:root {
  --theme-color: #1c1a19;
  --nav-color: #3c3a39;
  --primary-color: #ff6b00;
  --secondary-color: #fff5e1;
  --disabled-button-color: #5b5957;
  --font-crete: 'Crete Round', sans-serif;
  --font-roboto: 'Roboto Condensed', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: var(--nav-color);
  height: auto;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: auto;
  padding: 10px;
}

nav img {
  height: 24px;
}

nav img.menu-icon {
  margin-right: 10px;
}

.mobile-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  font-size: 2rem;
  font-weight: bold;
  align-items: baseline;
}

.menu-item {
  display: inline-block;
  width: 100%;
  padding: 16px;
  border-bottom: 2px solid var(--disabled-button-color);
}  

.visible {
  display: none;
}

.menu-item a {
  text-decoration: none;
  color: var(--secondary-color);
}

nav ul li {
  display: none;
}

.mobile-menu .closing-btn {
  width: auto;
  border: none;
  align-self: flex-end;
  color: var(--disabled-button-color);
}

.logo {
  display: inline-block;
  color: var(--secondary-color);
  font-family: var(--font-roboto);
  font-size: 24px;
  margin: 0 10px;
  animation: rotate 1s alternate;
  -webkit-animation: rotate 1s alternate;
}

.headline {
  position: relative;
  top: 60px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  background-color: var(--theme-color);
  background-image: url(./img/background.png);
  background-size: 200px 100px;
  background-repeat: no-repeat;
  background-position: right bottom;
  padding: 50px 20px;
}

.head {
  font-family: var(--font-crete);
  font-size: 32px;
  color: var(--primary-color);
  margin-top: 70px;
}

.head h2 {
  margin: 0;
}

footer .form-container h2 {
  font-size: 24px;
  text-align: center;
  font-family: var(--font-inter);
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}

p.secondary {
  font-size: 24px;
  color: var(--secondary-color);
  font-family: var(--roboto);
  margin: 0;
}

p.details {
  color: white;
  font-family: var(--font-inter);
}

.social-media {
  display: flex;
  justify-content: flex-start;
}

.skills img {
  display: inline;
}

.links img {
  width: 30px;
  height: 30px;
  margin: 15px;
}

.work {
  position: relative;
  top: 61px;
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: 1fr;
  width: 100%;
  height: auto;
  margin: 0;
}

/* recent works section */

.recent-work {
  display: flex;
  flex-flow: column;
  width: 90%;
  height: auto;
  margin: 100px auto 0;
}

.recent-work ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
}

.recent-work li {
  padding: 5px;
  border: 1px solid black;
}

.recent-work img {
  width: 100%;
  margin: auto;
}

footer .skills h2 {
  font-family: var(--font-crete);
  font-size: 32px;
  color: white;
  margin: 0;
}

.work .recent-work h2 {
  font-family: var(--font-inter);
  text-align: left;
}

footer form button {
  width: 40%;
  height: 48px;
  border: 0;
  margin: 28px auto;
  background-color: var(--primary-color);
  color: #f4f1f0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.recent-work button {
  width: auto;
}

.work div.line1 {
  height: 3px;
  width: 90%;
  border-radius: 70%;
  background-color: black;
  margin: auto;
  -webkit-border-radius: 70%;
  -moz-border-radius: 70%;
  -ms-border-radius: 70%;
  -o-border-radius: 70%;
}

.projects-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  justify-content: space-between;
  margin: 0;
  padding: 0 0 200px;
}

.about-me h1 {
  font-family: var(--font-crete);
  font-size: 72px;
  color: var(--primary-color);
  margin-bottom: 0;
}

.work > h1 {
  font-family: var(--font-crete);
  text-align: center;
  font-size: 36px;
}

.card > p {
  margin-left: 30px;
}

.work .title {
  text-align: left;
  padding: 0;
  margin: 70px auto 19px 30px;
  font-family: var(--font-crete);
  font-size: 24px;
}

.languages-built {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
}

.languages-built p {
  background: rgba(255, 255, 255, 0.24);
  font-size: 0.8rem;
  color: white;
  margin-right: 8px;
  padding: 10px;
}

.button {
  padding: 15px;
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: var(--primary-color);
  color: white;
  font-size: 17px;
  font-family: var(--font-crete);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.projects-list .button {
  width: 100%;
}

.button:disabled {
  background-color: #f4f1f0;
  color: var(--disabled-button-color);
  width: 100%;
}

.button:hover {
  background-color: #fff5e1;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.button:active {
  background-color: #e05304;
  color: #f4f1f0;
  transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -o-transform: translateY(-4px);
}

.about-me button {
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: flex-start;
}

footer form button:active {
  background-color: #e05304;
  color: #f4f1f0;
  transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -o-transform: translateY(-4px);
}

footer form button:hover {
  background-color: #fff5e1;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

footer form button:disabled {
  background-color: #f4f1f0;
  color: var(--disabled-button-color);
}

.work .card {
  width: 90%;
  height: auto;
  margin: 40px auto 0;
  background-image: url(./img/work.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  color: white;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}

.about {
  background-color: var(--theme-color);
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: auto;
}

.about-me {
  background-image: url(./img/illustration-about-me-mobile.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  padding: 50px 20px 100px;
  display: flex;
  flex-flow: column;
  align-content: baseline;
  margin-top: 100px;
}

.line2 {
  height: 1px;
  width: 90%;
  margin: auto;
  background-color: var(--secondary-color);
}

.about-me p {
  color: white;
  font-family: var(--font-inter);
}

.about-me button:hover {
  background-color: #fff5e1;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.about-me button:active {
  background-color: #e05304;
  color: #f4f1f0;
  transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -o-transform: translateY(-4px);
}

.abour-me button:disabled {
  background-color: #f4f1f0;
  color: var(--disabled-button-color);
  width: 100%;
}

.skills {
  margin-top: 100px;
  padding: 50px 10% 100px;
  text-align: center;
}

.skills li {
  list-style-type: none;
  color: white;
  font-family: var(--font-inter);
  font-size: 22px;
  margin: 30px auto;
}

.skills ul {
  display: flex;
  flex-flow: column;
  padding-left: 0;
  margin-bottom: 10px;
}

.line3 {
  width: 100%;
  height: 1px;
  margin: 200px 0 20px 0;
  background-color: #dfe1e6;
}

.footer-links {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 70px 25px 0;
}

footer .form-container {
  display: flex;
  flex-flow: column;
}

footer form {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

footer form > * {
  margin-top: 50px;
}

footer form input {
  border: 0;
  border-bottom: 1px solid #dfe1e6;
}

footer form textarea {
  background-color: #fbf8f7;
  border: 0;
}

/* Animations and Transitions */
.desktop-nav-item p,
.desktop-nav-item img {
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}

.desktop-nav-item p:hover,
.desktop-nav-item img:hover {
  transform: translateY(-4px);
  background-color: #e05304;
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -o-transform: translateY(-4px);
}

.work .card:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

footer .form-container h2:hover {
  transform: translate(10px, 10px);
  -webkit-transform: translate(10px, 10px);
  -moz-transform: translate(10px, 10px);
  -ms-transform: translate(10px, 10px);
  -o-transform: translate(10px, 10px);
}

@keyframes rotate {
  0% {
    margin: 0 10px;
  }

  50% {
    font-size: 30px;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }

  100% {
    margin: 0 10px;
  }
}

@media screen and (min-width: 400px) {
  .languages-built {
    justify-content: flex-start;
  }

  .languages-built p {
    margin-right: 20px;
  }
}

@media screen and (min-width: 500px) {
  .recent-work ul {
    justify-content: flex-start;
  }

  .recent-work li {
    margin-right: 20px;
  }
}

@media screen and (min-width: 700px) {
  .headline {
    background-size: 250px 150px;
    padding: 100px 40% 100px 40px;
  }
}

@media screen and (min-width: 1000px) {
  header nav {
    padding: 0 10%;
  }

  .closing-btn {
    display: none;
  }

  .logo {
    transition: transform 0.4s;
    -webkit-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    -ms-transition: transform 0.4s;
    -o-transition: transform 0.4s;
  }

  .logo:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }

  nav > img {
    display: none;
  }

  nav ul img {
    margin-bottom: 2px;
  }

  .recent-work img {
    width: 100%;
    margin: 0 auto;
  }

  .links img {
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
  }

  .links img:hover {
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
  }

  nav ul li {
    display: inline;
    margin-right: 80px;
  }

  nav ul a {
    text-decoration: none;
  }

  p {
    font-size: 20px;
  }

  nav ul p {
    margin: 0;
    font-family: var(--font-inter);
    color: var(--secondary-color);
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
  }

  .headline {
    top: 62px;
    padding: 200px 30% 200px 40px;
    background-image: url(./img/background-desktop.png);
    background-position: right center;
    background-size: auto;
    flex-flow: row-reverse;
  }

  .social-media {
    width: 10%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-right: 50px;
    margin-left: 20px;
    padding-top: 45px;
  }

  .work {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(3, auto);
    width: 100%;
    height: auto;
    margin: 0;
  }

  .projects-list {
    grid-area: 3/1/5/4;
    grid-template-columns: repeat(3, auto);
  }

  .work > h1 {
    grid-area: 1/1/2/2;
    padding-left: 0;
    padding-right: 0;
    font-size: 40px;
  }

  .line1 {
    grid-area: 1/2/2/4;
    width: 100%;
  }

  .recent-work {
    grid-area: 2/1/3/4;
    flex-flow: row;
    justify-content: space-between;
  }

  .recent-work aside {
    margin-left: 5%;
  }

  .about-me {
    background-image: url(./img/illustration-about-me-desktop.png);
    padding-right: 60%;
    padding-left: 10%;
  }

  .skills > ul {
    flex-flow: row;
    justify-content: space-between;
  }

  footer .form-container {
    flex-flow: row;
    justify-content: space-around;
  }

  footer form {
    width: 60%;
  }

  footer .form-container h2 {
    width: 30%;
    height: 200px;
    text-align: left;
    padding-top: 40px;
  }

  /* FONTS  */
  .head {
    font-size: 40px;
  }

  p.secondary {
    font-size: 30px;
  }
}
