:root {
  --theme-color: #1c1a19;
  --nav-color: #3c3a39;
  --primary-color: #ff6b00;
  --secondary-color: #fff5e1;
  --disabled-button-color: #5b5957;
  --font-crete: 'Crete Round', sans-serif;
  --font-roboto: 'Roboto Condensed', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: var(--nav-color);
  height: auto;
}

header nav {
  display: flex;
  justify-content: space-between;
  height: auto;
  padding: 10px;
}

nav img {
  height: 24px;
  margin: auto 10px;
}

.logo {
  display: inline-block;
  color: var(--secondary-color);
  font-family: var(--font-roboto);
  font-size: 24px;
  margin: 0 10px;
}

.headline {
  position: relative;
  top: 61px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  background-color: var(--theme-color);
  background-image: url(./img/background.png);
  background-size: 200px 100px;
  background-repeat: no-repeat;
  background-position: right bottom;
  padding: 50px 20px;
}

.head {
  font-family: var(--font-crete);
  font-size: 2rem;
  color: var(--primary-color);
  margin-top: 70px;
}

footer h2 {
  font-size: 24px;
  text-align: center;
  font-family: var(--font-inter);
}

.head h2 {
  margin: 0;
}

p.secondary {
  font-size: 24px;
  color: var(--secondary-color);
  font-family: var(--roboto);
  margin: 0;
}

p.details {
  color: white;
  font-family: var(--font-inter);
}

.social-media {
  display: flex;
  justify-content: flex-start;
}

.skills img {
  display: inline;
}

.links img {
  width: 30px;
  height: 30px;
  margin: 15px;
}

.work {
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: 1fr;
  width: 100%;
  margin: 0;
}

.work div.line1 {
  height: 3px;
  width: 90%;
  border-radius: 70%;
  background-color: black;
  margin: auto;
  -webkit-border-radius: 70%;
  -moz-border-radius: 70%;
  -ms-border-radius: 70%;
  -o-border-radius: 70%;
}

.projects-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about-me h1 {
  font-family: var(--font-crete);
  font-size: 72px;
  color: var(--primary-color);
  margin-bottom: 0;
}

.work h1 {
  font-family: var(--font-crete);
  text-align: center;
}

.skills h2 {
  font-family: var(--font-crete);
  font-size: 32px;
  color: white;
}

.work > h2 {
  width: 90%;
  margin: 120px auto 24px;
  text-align: center;
  font-family: var(--font-crete);
  font-size: 32px;
}

.card > p {
  margin-left: 30px;
}

.work .title {
  text-align: left;
  padding: 0;
  margin: 70px auto 19px 30px;
  font-family: var(--font-crete);
}

.languages-built {
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
}

.languages-built p {
  background: rgba(255, 255, 255, 0.24);
  justify-content: space-around;
  margin-right: 5%;
  padding: 15px;
  color: white;
}

.button {
  padding: 15px;
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: var(--primary-color);
  color: white;
  font-size: 17px;
  font-family: var(--font-crete);
}

.work .button {
  width: 100%;
}

.work .button:disabled {
  background-color: #f4f1f0;
  color: var(--disabled-button-color);
  width: 100%;
}

.work .button:hover {
  background-color: #fff5e1;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.work .button:active {
  background-color: #e05304;
  color: #f4f1f0;
  transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -o-transform: translateY(-4px);
}

footer form button {
  width: 40%;
  height: 48px;
  border: 0;
  margin: 28px auto;
  background-color: #e05304;
  color: #f4f1f0;
}

.about-me button {
  margin-top: 20px;
  align-self: flex-start;
}

footer form button:active {
  transform: translateY(-4px);
}

footer form button:hover {
  background-color: #fff5e1;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

footer form button:disabled {
  background-color: #f4f1f0;
  color: var(--disabled-button-color);
}

.work .card {
  width: 90%;
  height: auto;
  margin: 40px auto 0;
  background-image: url(./img/work.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column;
  align-content: space-between;
  align-items: baseline;
  color: white;
}

.about {
  background-color: var(--theme-color);
}

.about-me {
  background-image: url(./img/illustration-about-me-mobile.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  padding: 50px 20px 100px;
  display: flex;
  flex-flow: column;
  align-content: baseline;
  margin-top: 100px;
}

.line2 {
  height: 1px;
  width: 90%;
  margin: auto;
  background-color: var(--secondary-color);
}

.about-me p {
  color: white;
  font-family: var(--font-inter);
}

.about-me button:hover {
  background-color: #fff5e1;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.about-me button:active {
  background-color: #e05304;
  color: #f4f1f0;
  transform: translateY(4px);
}

.abour-me button:disabled {
  background-color: #f4f1f0;
  color: var(--disabled-button-color);
  width: 100%;
}

.skills {
  margin-top: 100px;
  padding: 50px 20% 200px 20%;
}

.skills li {
  list-style-type: none;
  color: white;
  font-family: var(--font-inter);
  font-size: 22px;
  margin: 20px auto;
}

.line3 {
  width: 100%;
  height: 1px;
  margin: 200px 0 20px 0;
  background-color: #dfe1e6;
}

.footer-links {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 70px 25px 0;
}

footer form {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

footer form > * {
  margin-top: 50px;
}

footer form input {
  border: 0;
  border-bottom: 1px solid #dfe1e6;
}
